body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: var(--second-color);
}

/* Color Palette */
:root{
    --main-color: #e66b6b;
    --second-color:#B7B6C2;
    --background: #fffafa;
    --text-color:#000;
    --active:#053C5E;
}

.container {
    width: 770px;
    background-color: var(--background);
    border-radius: 15px;

}

/* New Event Modal */

#calendar-popup {
    display:block;
    position: absolute;
    margin-bottom: 0;
    padding: 0 1.33em;
    z-index: 1000;
    border: solid 2px var(--active);
    border-radius: 10px;
    background: var(--background);
}

#calendar-popup * {
    display: block;
    border-radius: 5px;
}

#calendar-popup header {
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0.5em;
}

#calendar-popup label,
#calendar-popup input,
#calendar-popup textarea {
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

#calendar-popup input {
    margin-bottom: 0.5em;
    padding: 1px;
    border: 1px solid var(--second-color);
    background-color: var(--background);
}

#calendar-popup input:hover{
    background-color: var(--second-color);
    color: var(--background);
}

#calendar-popup time {
    font-style: italic;
    line-height: 1em;
    margin-top: 0;
}

#calendar-popup form,
#calendar-popup div#event {
    margin: 0.75em 0 0.75em 0;
    padding-right: 30px;
}

#calendar-popup li {
    margin-bottom: 0.33em
}

#calendar-popup li.location,

#calendar-popup li.details {
    font-size: 0.85em;
    color: var(--second-color);
}

#calendar-popup div.prong {
    position: relative;
    float: right;
    bottom: 0;
    right: 15px;
    height: 0;
    width: 20px;
}

#calendar-popup div.prong div.bottom-prong-lt {
    position: relative;
    top: -10px;
    left: 2px;
    width: 0;
    border: 8px solid;
    border-color: var(--background);
    border-bottom: 0;
}

#calendar-popup div.prong div.top-prong-dk {
    position: relative;
    top: 2px;
    left: 0;
    border: 10px solid;
    border-color: var(--second-color);
    border-top: 0;
}

#calendar-popup div.prong div.top-prong-lt {
    position: relative;
    top: -6px;
    left: 2px;
    width: 0;
    border: 8px solid;
    border-color: var(--background);
    border-top: 0;
}

/* ============================================================== */

header {
    display:none;
}

.week-days{
    display:none;
}

.calendar {
    display:none;
}

.day-modal{
    display:none;
}

footer {
    display:none;
}