body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: var(--second-color);
}

/* Color Palette */
:root{
    --main-color: #e66b6b;
    --second-color:#B7B6C2;
    --background: #fffafa;
    --text-color:#000;
    --active:#053C5E;
}

/* Header */

.header {
    padding: 10px;
    background-color: var(--main-color);
    color: var(--background);
    font-size: 12vw;
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container {
    width: 770px;
    background-color: var(--background);
    border-radius: 15px;

}

.week-days {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


/* Header buttons */
.next-month {
    background-color: var(--background);
    border: 2px solid #fffdfd;
    border-radius: 50px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 7px;
    text-decoration: none;
}

.next-month:hover {
    border-color: var(--second-color);
    color: var(--main-color);
}

.next-month:active {
    position: relative;
    top: 1px;
}

.select-year{
    background-color: var(--background);
    border: 2px solid #fffdfd;
    border-radius: 50px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 7px;
    text-decoration: none;
}

.select-year:hover{
    border-color: var(--second-color);
    color: var(--main-color);
}

.preview-month {
    background-color: var(--background);
    border: 2px solid #fffdfd;
    border-radius: 50px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 7px;
    text-decoration: none;
}

.preview-month:hover {
    border-color: var(--second-color);
    color: var(--main-color);
}

.preview-month:active {
    position: relative;
    top: 1px;
}
