/* New Event Modal */
/* ----------------------------------------------------------------*/
*, *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal * {
    display: block;
    border-radius: 5px;
}

.modal header {
    text-align: center;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0.5em;
}

.modal label,
.modal input,
.modal textarea {
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

.modal input {
    margin-bottom: 0.5em;
    padding: 1px;
    border: 1px solid var(--second-color);
    background-color: var(--background);
}

.modal input:hover{
    background-color: var(--second-color);
    color: var(--background);
}

.modal time {
    font-style: italic;
    line-height: 1em;
    margin-top: 0;
}

.modal form,
.modal div.event {
    margin: 0.75em 0 0.75em 0;
    padding-right: 30px;
}

.modal li {
    margin-bottom: 0.33em
}


.modal li.details {
    font-size: 0.85em;
    color: var(--second-color);
}


/* Overlay */
/* ----------------------------------------------------------------*/
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* ----------------------------------------------------------------*/