/* Imports CSS Files */
/* ----------------------------------------------------------------*/
@import './day-page.css';
@import './event-modular.css';
@import './reset.css';
@import './clock.css';

/* Body */
/* ----------------------------------------------------------------*/
body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: var(--second-color);
}

/* Color Palette */
/* ----------------------------------------------------------------*/
:root {
  --main-color: #e66b6b;
  --second-color: #b7b6c2;
  --background: #fffafa;
  --text-color: #000;
  --active: #053c5e;
  --alert-color: #e43333;
}

/* Header */
/* ----------------------------------------------------------------*/
.redColor {
  color: var(--alert-color);
}

.header {
  padding: 10px;
  background-color: var(--main-color);
  color: var(--background);
  font-size: 10vw;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container {
  width: 770px;
  background-color: var(--background);
  border-radius: 15px;
}

/* Header buttons */
/* ----------------------------------------------------------------*/
.next-month {
  background-color: var(--background);
  border: 2px solid #fffdfd;
  border-radius: 50px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  padding:1px 5px;
  text-decoration: none;
}

.next-month:hover {
  border-color: var(--second-color);
  color: var(--main-color);
}

.next-month:active {
  position: relative;
  top: 1px;
}

.select-month {
  background-color: var(--background);
  border: 2px solid #fffdfd;
  border-radius: 50px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  padding: 1px 5px;
  text-decoration: none;
}

.select-month:hover {
  border-color: var(--second-color);
  color: var(--main-color);
}

.preview-month {
  background-color: var(--background);
  border: 2px solid #fffdfd;
  border-radius: 50px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  padding: 1px 5px;
  text-decoration: none;
}

.preview-month:hover {
  border-color: var(--second-color);
  color: var(--main-color);
}

.preview-month:active {
  position: relative;
  top: 1px;
}

/* Week days */
/* ----------------------------------------------------------------*/
.week-days {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 15px 15px 0px;
  background-color: var(--background);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.days {
  background-color: var(--active);
  color: var(--background);
  border-radius: 10px;
  text-align: center;
  width: 10vw;
  margin: 5px;
  padding: 10px 2px 10px 2px;
  font-size: auto;
  overflow: hidden;
}

/* Calendar Days */
/* ----------------------------------------------------------------*/
.month-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: var(--background);
  border-radius: 10px;
  font-size: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.month-day-view {
  border: 1px solid var(--active);
  border-radius: 10px;
  background-color: var(--background);
  border-radius: 10px;
  font-size: 2vh;
  text-align: left;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

/* Footer */
/* ----------------------------------------------------------------*/
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--main-color);
}

.footer-content {
  padding-top: 15px;
  width: 30vw;
  height: 15vh;
  text-align: center;
  font-size: 1.5vh;
}

/* Content Display */
/* ----------------------------------------------------------------*/
.day-modal {
  display: block;
}

.week-days {
  display: flex;
}

.calendar {
  display: flex;
}

.day-modal {
  display: none;
}

.new-event-modal {
  display: block;
}

.footer {
  display: flex;
}

/* ----------------------------------------------------------------*/